/* src/components/Button.css */
.custom-button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .green-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .red-button {
    background-color: #f44336;
    color: white;
  }
  